<section class="adminUsers">
	<h2>ADMINISTRATION OF USERS</h2>

	<table  id="renderAdminUsers">
		<tr>
			<th>NAME</th>
			<th>EMAIL</th>
			<th>ROLE</th>
			<th>EDIT</th>
			<th>DELETE</th>
		</tr>

		<tr>

			{{!-- <td>{{this.qty}}</td> --}}
		</tr>

	</table>

</section>

<script src="/js/admin_users.js"></script>