<h2>CARTS</h2>
<form id="formUsers" action="/api/carts" method="post">
   idProduct: <input type="text" name="idProduct" id="idProduct">
    qty: <input type="text" name="qty" id="qty">
    total: <input type="total" name="total" id="total">
    <input type="submit" value="SINGUP">
</form>