<section>
 <form  action="/api/mail" method="post">
 <p>Ingresa el mail con le que estas registrado y a la brevedad haremos llegar un correo para reestablecer tu contraseña</p>
   <label for="email">Email: </label>

    <input type="text" name="email" id="email" />
    <input class="signup" type="submit" value="SEND" />
 </form>
</section>