<section class="home">
  <h2>Welcome {{first_name}} {{last_name}} </h2>
  <h3> {{email}} </h3>

    <a href="/api/users/logout" class="logout">LogOut</a>

</section>

<section class="allProductsFetch">
  <section id="renderData">

  </section>
  <button id="loadMoreBtn">Load More</button>
</section>

<script src="/js/main.js"></script>