<section class="homeAdmin">
    <h2>HOME ADMIN</h2>
    <a href="/createProduct" class="logout">PRODUCTS</a>
    <a href="/deleteUsers" class="logout">INACTIVE USERS<a>
    <a href="/admin_users" class="logout">ALL USERS<a></a>
    <a href="/api/sessions/logout" class="logout">LogOut</a> 
</section>