<section class="homeAdmin">
    <h2>HOME ADMIN</h2>
    <a href="/createProduct" class="logout">PRODUCTS</a>
    <a href="/deleteUsers" class="logout">USERS<a>
    <a href="/api/sessions/logout" class="logout">LogOut</a> 
</section>