<section class="renderMessages">
    <table id="table">
    <thead>
        <tr>
            <th>De:</th>
            <th>Mensaje:</th>
            <th>Para:</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {{#each messages}}
        <tr >
            <td>{{fromUser}}</td>
            <td>{{contentMessage}}</td>
            <td>{{toUser}}</td>

        </tr>
        {{/each}}
    </tbody>
</table>
</section>