<section class="oneProduct">
<h2>{{title}}</h2>
<p> {{description}} </p>
<p>Precio: ${{price}} </p>
<button class="addCart">
    <img class="logo" alt="addCart Button" src="/images/addCart.jpg" >
</button>

</section>
