<section class="restorePassword">
    <form  method="post" >
        Ingresa tu nueva contraseña
         <label for="password"> Password: </label>
    <input type="password" name="password" id="password" />
    <input class="signup" type="submit" value="RESTORE" />   
    </form>
</section>

