<section class="register">
  <h2>SIGN UP</h2>
  <form id="formUsers" action="/api/sessions/signup" method="post">
    <label for="firts_name"> Name:</label>
    <input type="text" name="first_name" id="first_name" />
    <label for="last_name"> Last Name:</label>
    <input type="text" name="last_name" id="last_name" />
    <label for="email"> Email:</label>
    <input type="text" name="email" id="email" />
    <label for="password"> Password:</label>
    <input type="password" name="password" id="password" />
    <input class="btnSubmit" type="submit" value="SIGNUP" />
  </form>

</section>
