{{!-- <h2>SIGNUP</h2>
<form id="form" action="/api/users" method="post">
    First Name:
    <input type="text" name="first_name" id="first_name" required />
    Last Name:
    <input type="text" name="last_name" id="last_name" required />
    Email:
    <input type="email" name="email" id="email" required />
    Password:
    <input type="password" name="password" id="password" required />
    <input type="submit" value="SiGN UP" />

</form> --}}

<h2>SIGNUP</h2>
<form id="formUsers" action="/api/users" method="post">
    First Name: <input type="text" name="first_name" id="first_name">
    Last Name: <input type="text" name="last_name" id="last_name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="SINGUP">
</form>