<section class="ticketZone">
    <article class="renderCart">
        <h2>Yout Cart (Products Pending)</h2>
        
    </article>
    <article class="renderTicket">
        Your purchase
    </article>
</section>