<section class="usersAdmin">
    <section class="allUsers">
        <h2>All Users</h2>
    <ul id="renderAllUsers">
 
    </ul>
    </section>
    <section class="twoDays">
        <h2>Inactive Users</h2>
    <ul id="renderTwoDaysUsers"></ul>
    </section>
</section>
<section class="deleteUsers">
  <p>Delete users who have not logged in for two days</p>
    <button id="btnDeletedUser" class="logout">DELETE </button>
</section>
<script src="/js/homeAdmin.js"></script>