<section class="welcome">
  <h1>CatShop</h1>
  <aside class="containerBtn">
    <a href="/signup">Nuevo usuario</a>
      <a href="/api/users/auth/github"> GitHub</a>
    <a href="/login">Inicio de Sesion</a>
  </aside>
</section>