* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
}

#form,
#formUsers {
	display: flex;
	flex-direction: column;
	font-family: Helvetica;
	padding: 1vw 3vw;
}

.welcome,
.createProduct {
	width: 100vw;
	height: 100vh;
	background-image: url("/image/bgCat.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	background-color: #006476;
	padding: 5vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.createProduct {
	background-image: none;
}
#formProducts {
	display: flex;
	flex-direction: column;
}
.welcome h1 {
	color: orange;
	font-size: 7rem;
	text-align: center;
	text-transform: uppercase;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.welcome .containerBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5vw;
}
.welcome .containerBtn a {
	background-color: rgb(201, 184, 153);
	padding: 2vw 3vw;
	font-size: 2rem;
	font-family: "Arial Narrow Bold", sans-serif;
	color: #006476;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 1vw;
}
.welcome .containerBtn a:hover {
	background-color: rgb(237, 207, 189);
}
.allProductsFetch,
.home,
.homeAdmin {
	background-color: rgb(182, 225, 211);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-top: 3vw;
}
.homeAdmin {
	min-height: 100vh;
}
.homeAdmin h2 {
	font-size: 3rem;
	color: #ce6029;
	font-weight: bolder;
	margin-bottom: 5rem;
}
.allProductsFetch {
	padding-top: 0vw;
}
.home h2,
.home h3 {
	font-size: 2.3rem;
	color: rgb(19, 52, 41);
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.home h3 {
	font-size: 2rem;
}
#renderData {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5vw;
	flex-direction: column;
}
.logo {
	max-width: 100%;
	height: auto;
}

.container-Logo {
	width: 10vw;
	margin: auto;
}

.containerProducts a,
#renderData a {
	border: none;
	background-color: rgb(241 243 242);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
#renderData a {
	margin: 1vw;
}
a {
	text-decoration: none;
}

.containerProducts a:hover,
#renderData a:hover {
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.containerProducts a .info p,
#renderData a .info p {
	font-size: 1rem;
	color: rgb(19, 52, 41);
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.containerProducts a .info,
#renderData a .info {
	width: 20vw;
}
.login,
.register {
	background-color: #217781;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login h1,
.register h2 {
	color: rgb(242, 187, 120);
	font-size: 4rem;
	margin: 2vw;
}
.login form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.login form label,
.register form label {
	color: aliceblue;
	font-size: 1.6rem;
	align-self: start;
}
.login form input,
.register form input {
	margin-bottom: 2rem;
}
.login form .signup,
.register form .btnSubmit,
.logout,
.allProductsFetch #loadMoreBtn,
.btnChat,
.btnCoupon,
.btnGoToTicket {
	padding: 1vw 2vw;
	border: none;
	background-color: rgb(219, 153, 68);
	border-radius: 10px;
	color: rgb(6, 32, 24);
	font-weight: 800;
}
.allProductsFetch #loadMoreBtn {
	margin-bottom: 3vw;
}
.logout {
	background-color: rgb(203, 74, 14);
	margin: 1vw;
}

.logout:hover {
	background-color: rgb(208, 4, 4);
}

.menuBtn {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	width: 100vw;
}

.oneProduct {
	margin: 5vw auto;
	width: 50vw;
	padding: 2vw;
	border: 5px solid salmon;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

/* .oneProduct h2,  */
.oneProduct p {
	padding: 0;
	margin: 0;
	color: rgb(19, 52, 41);
	line-height: 2rem;
}

.addCart {
	width: 8vw;
	height: 8vw;
	background-color: white;
	border: 3px solid rgb(29, 70, 70);
	border-radius: 5px;
	align-self: flex-end;
}

.addCart:hover {
	border: 4px solid rgb(50, 184, 83);
}
#formOneProduct {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#formOneProduct .inputQty {
	display: flex;
	flex-direction: column;
}

.ticketZone {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	background-color: #346381;
	height: 100vh;
}

.renderCart,
.renderTicket {
	width: 35%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.renderCart h2,
.renderTicket h2 {
	margin-bottom: 3vw;
}

.container-InfoProductsCart {
	background-color: #648fa9;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.idCart {
	font-size: 1.5rem;
	line-height: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #162833;
	font-weight: bolder;
}
.infoProductsCart {
	margin: 4vw auto;
}

#productsTableCart {
	font-family: "Arial Narrow Bold", sans-serif;
	border-collapse: collapse;
	width: 50vw;
	margin-top: 2vw;
}

#productsTableCart td,
#productsTableCart th {
	border: 1px solid #ddd;
	padding: 8px;
}

#productsTableCart tr:nth-child(even) {
	background-color: #f2f2f2;
}

#productsTableCart tr:hover {
	background-color: #ddd;
}

#productsTableCart th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #90bac4;
}
.documents {
	display: block;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	padding: 5vw;
	background-color: #346381;
}
.documents h2 {
	color: #ce6029;
	font-weight: bolder;
	text-align: center;
	font-size: 3rem;
}
.documents form {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: #ddd;
	font-size: 2rem;
	text-align: start;
	width: 80%;
}
.documents form input {
	margin: 2rem 0;
}
.usersAdmin,
.deleteUsers {
	background-color: #162833;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
}
.deleteUsers {
	flex-direction: column;
	color: white;
	font-size: 1.8rem;
	align-items: center;
}

.allUsers {
	width: 20vw;

	margin: 10px;
}
.allUsers h2 {
	text-align: center;
	color: #ce6029;
	font-weight: bolder;
	font-size: 2rem;
	margin-bottom: 10px;
}
.twoDays h2 {
	text-align: center;
	color: #ce6029;
	font-weight: bolder;
	font-size: 2rem;
	margin-bottom: 10px;
}
#renderAllUsers {
	background-color: #006476;
	padding: 30px;
}
#renderAllUsers li {
	color: white;
	font-size: 1.5rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.twoDays {
	width: 20vw;
	margin: 10px;
}
#renderTwoDaysUsers {
	background-color: #648fa9;

	padding: 30px;
}
#renderTwoDaysUsers li {
	color: white;
	font-size: 1.5rem;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.adminUsers{
	background-color: #648fa9;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.deleteProduct{
	background-color: #217781;
	padding: 2vw;
margin: 2vw;
	font-size: 1.5rem;
}

.deleteProduct h2{
	font-size: 2rem;
	font-weight: bolder;
	text-align: center;
	margin: 0 0 20px 0;
		color: #ce6029;
}
}